<div class = "container">


<h1><%= @place["name"] %></h1>

<p class="new">
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>


<div class = "column">
<% for entry in @entries %>

  <div class = "col-md-4"><%= entry["title"] %></div>
  <div class = "col-md-4"><%= entry["occurred_on"] %></div>
  <div class = "col-md-4"><%= entry["description"] %></div>

<% end %>

</div>

<p>
  <a href="/places">Back to All Places</a>
</p>

</div>